@tailwind base;
@tailwind components;
@tailwind utilities;

div::-webkit-scrollbar {
  width: 5px;
  border-radius: 4px;
}
div::-webkit-scrollbar-track {
    background-color: #1e6495;
    border-radius: 4px;
}

div::-webkit-scrollbar-thumb {
    background-color: #5191c1;
    border-color: black;
    border-radius: 4px;
}

div::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

/* .color1 { #fb6f24" };
.color2 { #8ca315 };
.color3 { #5191c1 };
.color4 { #1e6495 };
.color5 { #0a4b75 }; */
